.footerMenuContainer {
    display: block;
    background-color: #100f0D;
    padding: 10px;
    overflow: hidden;    
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;    
}

.footerMenuList {
    list-style: none;
    margin: 0;
    padding: 0;    
}

.footerMenuItem {
    margin-right: 15px;
}

.footerMenuSpan {
    color: #f8f8f8;
    font-size: 1.2vh;
    font-weight: 500;
    margin-right: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}